.item {
    position: relative;
    padding: 18px 32px;
    border-radius: 4px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.item.dragging::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(231, 238, 253);
    border: 1px dashed rgba(20, 85, 237);
    z-index: 1;
}

.formItemContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.formItemContainer.editable::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: all;
    z-index: 1;
}

.handle {
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
}

.labelContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.label.required::before {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.switchContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.switchText {
    margin-left: 6px;
    font-size: 14px;
}
