.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    flex: 1;
    margin: 0 auto;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.formTypeContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.form {
    flex: 1;
    padding: 16px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 6px 24px rgba(31, 35, 41, 0.08);
}
