/* main-form.module.css */
.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px; /* 设置最大宽度 */
  min-width: 300px; /* 设置最小宽度 */
  height: calc(100% - 64px - 48px);
  margin: 24px auto; /* 居中对齐 */
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.form {
  flex: 1;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 6px 24px rgba(31, 35, 41, 0.08);
}
